@model CoderGirl_MVCMovies.Models.MovieRating

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input readonly asp-for="MovieName" class="form-control" value="@Model.MovieName" />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
           
            <select id="Rating" asp-for="Rating">
                <option asp-for="Rating">1</option>
                <option asp-for="Rating">2 </option>
                <option asp-for="Rating">3</option>
                <option asp-for="Rating">4</option>
                <option asp-for="Rating">5</option>
            </select>
            
        
            <div class="form-group">
                <button type="submit">Update Rating</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

