
@{
    ViewData["Title"] = "Rated Movies";
}

<h1>Rated Movies</h1>
<a asp-controller="Rated Movies" asp-action="Index"></a>


<table>

    <tr>
        <th>Movie</th>
        <th>Rating</th>
    </tr>


    
    @foreach (var movie in ViewBag.Movies)
    {
        
            <tr>
            <td id="movie.Id">@movie.Name</td>
            <td id="movie.Id">@movie.Rating</td>

            </tr>
        
    }

</table>



