
@{
    ViewData["Title"] = "Rated Movies";
}

<h1>Rated Movies</h1>
<a asp-controller="Rated Movies" asp-action="Index"></a>


<table>

    <tr>
        <th>Movie Name</th>
        <th>Movie Rating</th>
    </tr>



    @foreach (var movie in ViewBag.Movies)
    {
        <tr>
            <td id="movie.Id">@movie.MovieName</td>
            <td id="movie.Id">@movie.MovieRating</td>

        </tr>
    }

</table>

@*@foreach (var movieRating in ViewBag.MovieRatings)
{
    @if (movie.Key == movieRating.Key)
    {
        <td id="movieRating.Key">@movieRating.Value</td>
    }
    else
    {
        continue;
    }

}*@

