@model List<CoderGirl_MVCMovies.Models.MovieRating>
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<table>
    <tr>
        <th>Movie</th>
        <th>Rating</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td id="@movie.Id">@movie.MovieName</td>
            <td id="@movie.Id">@movie.Rating</td>
        </tr>
    }
</table>
